<% include header %>
<% if (user && user.is_admin) { %>
  <fieldset>
    <legend>Basic Operation</legend>
    <a href="<%= syzoj.utils.makeUrl(['contest', 0, 'edit']) %>">[新建比赛]</a>
  </fieldset>
<% } else { %>
  <br>
<% } %>

<table class="tblcontainer ui-widget-content ui-corner-all" width="100%" border="0" cellpadding="4" cellspacing="2">
  <thead>
    <tr align="center" class="ui-widget-header">
      <th width="6%" height=20>编号</th>
      <th class="place_left">比赛标题</th>
      <th width="30%">计划</th>
      <th width="10%">比赛类型</th>
    </tr>
  </thead>
  <tbody>
    <%
    for (let contest of contests) {
      let now = syzoj.utils.getCurrentDate();
    %>
    <tr>
      <td height=25 align="center"><%= contest.id %></td>
      <td><a href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>"><%= contest.title %></a></td>
      <td align="center">
        <% if (now < contest.start_time) { %>
          <% if (contest.start_time - now < 900) { %><font color=red><% } %>
          开始于 <%= syzoj.utils.formatDate(contest.start_time) %><br />
          还剩下 <%= syzoj.utils.formatTime(contest.start_time - now) %>
        <% } else if (now >= contest.start_time && now < contest.end_time) { %>
          <font color=red>正在进行中，还剩下 <%= syzoj.utils.formatTime(contest.end_time - now) %><br />
        <% } else { %>
          <font color=green>结束于 <%= syzoj.utils.formatDate(contest.end_time) %><br />
        <% } %>
      </td>
      <td align="center"><%- (contest.type === 'acm' ? 'icpc' : contest.type).toUpperCase() %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<br>
<% include page %>
<% include footer %>
