<% include header %>
<% if (problem) { %>
<link type="text/css" rel="stylesheet" href="/sicily/css/post.css" />
<div id="catalog">
  <ul class="hord_list">
    <li><a href="<%= syzoj.utils.makeUrl(['problem', problem.id]) %>" title="" class="hord_link">题目</a></li>
    <% if (user) { %>
      <li><a href="<%= syzoj.utils.makeUrl(['submissions'], { problem_id: problem.id, submitter: user.username }) %>" title="" class="hord_link">源代码</a></li>
    <% } %>
    <li><a href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'statistics', problem.type === 'submit-answer' ? 'shortest' : 'fastest']) %>" title="" class="hord_link">统计</a></li>
    <li><a href="<%= syzoj.utils.makeUrl(['discussion', 'problem', problem.id]) %>" title="" class="hord_headline">讨论</a></li>
  </ul>
</div>
<% } %>
<div id="posts">
  <% if (user) { %>
    <div id="banner">
      <a href="<%= syzoj.utils.makeUrl(['article', 0, 'edit'], problem ? { problem_id: problem.id } : null) %>">
        <button class="button_blue">新帖</button>
      </a>
    </div>
  <% } else { %>
    <br>
  <% } %>
  <table class="tblcontainer ui-widget-content ui-corner-all" width="100%" border="0" cellpadding="4" cellspacing="2">
    <thead>
      <tr align="center" class="ui-widget-header">
        <% if (in_problems) { %>
          <th width="8%">题目编号</th>
        <% } %>
        <th width="45%" height="20" class="place_left">标题</th>
        <th width="10%" class="place_left">作者</th>
        <th width="10%">回复数</th>
        <th width="15%">最新回复</th>
      </tr>
    </thead>
    <tbody>
    <% for (let article of articles) { %>
        <tr>
            <% if (in_problems) { %>
              <td align="center"><a href="<%= syzoj.utils.makeUrl(['discussion', 'problem', article.problem_id]) %>"><%= article.problem.id %></a></td>
            <% } %>
            <td><a href="<%= syzoj.utils.makeUrl(['article', article.id]) %>"><%= article.title %></a></td>
            <td><a href="<%= syzoj.utils.makeUrl(['user', article.user_id]) %>"><%= article.user.username %></a><% if (article.user.nameplate) { %><%- article.user.nameplate %><% } %></td>
            <td align="center"><%= article.comments_num %></td>
            <td align="center"><%= syzoj.utils.formatDate(article.sort_time) %></td>
        </tr>
    <% } %>
    </tbody>
  </table>
  <br>
  <% include page %>
</div>
<% include footer %>
