</div>
<div id="footer">
  <p style="display: none" id="about">
    Sicily Chan designed by <a href="http://kiki-box.com" class="black">Kikichan</a>
    <br />
    Formerly powered by <a href="mailto:henryouly.bbs@bbs.zsu.edu.cn" class="black">Henry</a> and
    <a href="mailto:Northming.bbs@bbs.zsu.edu.cn" class="black">Northming</a>.
    <br />
    Powered by
    <a href="mailto:hoveychen@gmail.com" class="black">Hovey</a> and
    <a href="mailto:tigersoldi@gmail.com" class="black">Tigersoldier</a>.
  </p>

  <p>
    Sicily在线测评系统(based on <a href="https://github.com/syzoj/syzoj" target="_blank">SYZOJ</a>)
    <br>
    <a href-post="<%= syzoj.utils.makeUrl(['change_locale'], { locale: 'cn' }) %>" href="#">中文</a>
    | <a href-post="<%= syzoj.utils.makeUrl(['change_locale'], { locale: 'en' }) %>" href="#">English</a>
    | <a href="/help" title="系统使用指引">帮助</a>
    | <a href='javascript:void(0)' onclick='$("#about").show();return false'>关于</a>


    <br>
    Copyright © 2005 - 2020 Informatic Lab in SYSU. All rights reserved.
  </p>
</div>
<script data-cfasync="false" src="<%- lib('semantic-ui/2.4.1/semantic.min.js') %>"></script>
<script src="<%- lib('Chart.js/2.7.3/Chart.bundle.min.js') %>"></script>
<script src="<%- selfLib('script.js') %>?20170710"></script>
</body>
</html>
