<% include header %>
<% if (user && user.is_admin) { %>
  <fieldset>
    <legend>Basic Operation</legend>
    <a href="<%= syzoj.utils.makeUrl(['problem', 0, 'edit']) %>">[新建题目]</a>
    <a href="<%= syzoj.utils.makeUrl(['problem', 0, 'import']) %>">[导入题目]</a>
  </fieldset>
<% } else { %>
  <br>
<% } %>
<table class="tblcontainer ui-widget-content ui-corner-all" width="100%" border="0" cellpadding="4" cellspacing="2">
  <thead>
    <tr align="center" class="ui-widget-header">
      <% if (user) { %>
        <th width="8%">提交状态</th>
      <% } %>
      <th width="6%" height=20><%- createSortableTitle('id', '编号', true) %></th>
      <th class="place_left"><%- createSortableTitle('title', '题目标题', true) %></th>
      <th width="15%"><%- createSortableTitle('ac_num', '通过', false) %></th>
      <th width="15%"><%- createSortableTitle('submit_num', '提交数量', false) %></th>
      <th width="15%">通过率</th>
    </tr>
  </thead>
  <tbody>
  <% for (let problem of problems) { %>
      <% if (problem.is_public || problem.allowedEdit) { %>
      <tr>
          <% if (user) { %>
              <td align="center">
              <% if (problem.state) { %>
                <a href="<%= syzoj.utils.makeUrl(['submission', problem.state.id]) %>">
                  <% if (problem.state.status !== 'Accepted') { %>
                    <img class='no' src='/sicily/images/not_yet.gif' />
                  <% } else { %>
                    <img class='yes' src='/sicily/images/yes.gif' />
                  <% } %>
                </a>
              <% } %>
              </td>
          <% } %>
          <td height=25 align="center"><%= problem.id %></td>
          <td class="left aligned">
            <a style="vertical-align: middle; " href="<%= syzoj.utils.makeUrl(['problem', problem.id]) %>"><%= problem.title %>
              <% if (problem.type === 'interaction') { %>
                [交互题]
              <% } else if (problem.type === 'submit-answer') { %>
                [提交答案题]
              <% } else if (problem.specialJudge) { %>
                [Special Judge]
              <% } %>
              <% if (!problem.is_public) { %><font color=red>[未公开]</font><% } %>
            </a>
          </td>
          <td align="center"><%= problem.ac_num %></td>
          <td align="center"><%= problem.submit_num %></td>
          <td align="center"><%= problem.submit_num != 0 ? (((problem.ac_num / problem.submit_num * 100) || 0).toFixed(2) + '%') : '-' %></td>
      </tr>
      <% } %>
  <% } %>
  </tbody>
</table>
<br>
<% include page %>
<br>
<% include footer %>
