<% include util %>
<% if (typeof contest === 'undefined') contest = null; %>
<% include header %>
<link type="text/css" rel="stylesheet" href="/sicily/css/post.css" />
<div id="catalog">
  <ul class="hord_list">
    <% if (typeof contest !== 'undefined' && contest) { %>
      <li><span class="hord_headline">题目概况</span></li>
      <li>
        <dl class="hord_list">
          <dt class="hord_dt">通过数量</dt>
          <dd class="hord_dd"><%= hasStatistics ? problem.statistics.accepted : 'N/A' %></dd>
          <dt class="hord_dt">提交数量</dt>
          <dd class="hord_dd"><%= hasStatistics ? problem.statistics.attempt : 'N/A' %></dd>
        </dl>
      </li>
      <% if (problem.judge_id) { %>
        <% if (typeof problem.status === 'string') { %>
          <% if (problem.status === 'Accepted') { %>
            <li><img src="/sicily/images/yes.gif" alt="" width="20" height="20"><em>题目已经通过</em></li>
          <% } else if (problem.status === 'Submitted') { %>
            <li><img src="/sicily/images/not_yet.gif" alt="" width="20" height="20"><em>等待测评</em></li>
          <% } else { %>
            <li><img src="/sicily/images/not_yet.gif" alt="" width="20" height="20"><em>分数: <%= problem.feedback %></em></li>
          <% } %>
        <% } else if (typeof problem.status === 'object') { %>
          <% if (problem.status.accepted) { %>
            <li><img src="/sicily/images/yes.gif" alt="" width="20" height="20"><em>题目已经通过</em></li>
          <% } %>
        <% } %>
      <% } %>
    <% } else { %>
      <li><span class="hord_headline">题目概况</span></li>
      <li>
        <dl class="hord_list">
          <dt class="hord_dt">通过数量</dt>
          <dd class="hord_dd"><%= problem.ac_num ? problem.ac_num : 0 %></dd>
          <dt class="hord_dt">提交数量</dt>
          <dd class="hord_dd"><%= problem.submit_num ? problem.submit_num : 0 %></dd>
        </dl>
      </li>
      <% if (problem.state && problem.state.status === 'Accepted') { %>
        <li><img src="/sicily/images/yes.gif" alt="" width="20" height="20"><em>题目已经通过</em></li>
      <% } %>
    <% } %>
    <% if (user) { %>
      <% if (typeof contest !== 'undefined' && contest) { %>
        <li><a href="<%= syzoj.utils.makeUrl(['contest', contest.id, 'submissions'], { problem_id: pid, submitter: user.username }) %>" title="" class="hord_link">源代码</a></li>
      <% } else { %>
        <li><a href="<%= syzoj.utils.makeUrl(['submissions'], { problem_id: problem.id, submitter: user.username }) %>" title="" class="hord_link">源代码</a></li>
      <% } %>
    <% } %>
    <% if (typeof contest === 'undefined' || !contest) { %>
      <li><a href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'statistics', problem.type === 'submit-answer' ? 'shortest' : 'fastest']) %>" title="" class="hord_link">统计</a></li>
      <li><a href="<%= syzoj.utils.makeUrl(['discussion', 'problem', problem.id]) %>" title="" class="hord_link">讨论</a></li>
    <% } %>
    <% if (problem.additional_file) { %>
      <li><a href="<%= syzoj.utils.makeUrl(['problem', problem.id, 'download', 'additional_file']) %>" title="" class="hord_link">附加文件</a></li>
    <% } %>
  </ul>
</div>
<div id="posts">
  <div class="post_box ui-corner-all">
    <div class="post_body">
      <center>
        <h1>
          <% if (contest) { %>
            <%= this.alpha(pid) %>. <%= syzoj.utils.removeTitleTag(problem.title) %>
          <% } else { %>
            <%= problem.id %>. <%= problem.title %><% if (problem.allowedEdit && !problem.is_public) { %><font color=red> [未公开]</font><% } %>
          <% } %>
        </h1>
      </center>
      <h1>限制条件</h1>
      <p>时间限制: <%= problem.time_limit %> ms, 空间限制: <%= problem.memory_limit %> MB<% if (problem.type === 'interaction') { %>, 交互题<% } else if (problem.type === 'submit-answer') { %>, 提交答案题<% } else if (problem.specialJudge) { %>, Special Judge<% } %></p>
      <% if (problem.file_io) { %>
        <p>输入文件: <%= problem.file_io_input_name %>, 输出文件：<%= problem.file_io_output_name %></p>
      <% } %>
      <% if (problem.description) { %>
        <h1>题目描述</h1>
        <div class="font-content"><%- problem.description %></div>
      <% } %>
      <% if (problem.input_format) { %>
        <h1>输入格式</h1>
        <div class="font-content"><%- problem.input_format %></div>
      <% } %>
      <% if (problem.output_format) { %>
        <h1>输出格式</h1>
        <div class="font-content"><%- problem.output_format %></div>
      <% } %>
      <% if (problem.example) { %>
        <h1>样例</h1>
        <div class="font-content"><%- problem.example %></div>
      <% } %>
      <% if (problem.limit_and_hint) { %>
        <h1>提示</h1>
        <div class="font-content"><%- problem.limit_and_hint %></div>
      <% } %>
      <% if (!problem.is_anonymous || problem.allowedManage) { %>
        <h1>题目来源</h1>
        <p><%= problem.user.username %></p>
      <% } %>
    </div>
    <% if ((typeof contest === 'undefined' || !contest || !contest.ended) && (testcases && !testcases.error)) { %>
      <h1>提交</h1>
      <% const formUrl = syzoj.utils.makeUrl(['problem', problem.id, 'submit'], { contest_id: contest ? contest.id : undefined }); %>
      <form action="<%= formUrl %>" method="post" onsubmit="return submit_code()" id="submit_code" enctype="multipart/form-data">
        <% if (problem.type !== 'submit-answer') { %>
          <p>
            选择语言:
            <select name="language" size="1" id="form">
              <%
              let language = syzoj.config.enabled_languages[0];
              if (lastState) {
                language = lastState.language;
              } else if (lastLanguage) {
                language = lastLanguage;
              }
              %>
              <% for (lang of syzoj.config.enabled_languages) { %>
                <option value="<%= lang %>" <% if (lang === language) { %> selected="selected" <% } %> ><%= syzoj.languages[lang].show %> | <%= syzoj.languages[lang].version %></option>
              <% } %>
            </select>
          </p>
        <% } %>
        <p>
          选择文件: <input type="file" id="answer" name="answer">
        </p>
        <p>
          <button class="button_blue" type="submit">提交</button>
        </p>
      </form>
    <% } %>
  </div>
</div>
<% include footer %>
