<% include header %>
<form action="<%= syzoj.utils.makeUrl(['find_user']) %>" method="get" role="form" id="search_user_form">
  <input class="search_bar" name="nickname" placeholder="搜索用户名或者昵称" type="text">
  <button class="button_blue" type="submit">搜索</button>
</form>
<table class="tblcontainer ui-widget-content ui-corner-all" width="100%" border="0" cellpadding="4" cellspacing="2">
  <thead>
    <tr align="center" class="ui-widget-header">
      <th width="10%" height="20">排名</th>
      <th class="place_left">名称</th>
      <th width="40%" align="left">签名</th>
      <th width="15%">通过数量</th>
      <th width="15%">提交数量</th>
    </tr>
  </thead>
  <tbody>
  <%
    let i = (paginate.currPage - 1) * paginate.perPage;
    for (let user of ranklist) {
      ++i;
    %>
    <tr class="<%= locals.user && user.id == locals.user.id ? 'highlighted_cell' : '' %>">
      <td height=25 align="center"><%= i %></td>
      <td align="left">
        <% if (user.is_show) { %>
          <img src="/sicily/images/authorize2.gif"/>
        <% } else { %>
          <img src="/sicily/images/authorize0.gif"/>
        <% } %>
        <a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><%= user.username %></a><% if (user.nameplate) { %><%- user.nameplate %><% } %>
      </td>
      <td align="left"><%= user.information %></td>
      <td align="center"><%= user.ac_num == null ? 0 : user.ac_num %></td>
      <td align="center"><%= user.submit_num == null ? 0 : user.submit_num %></td>
    </tr>
  <% } %>
  </tbody>
</table>
<br>
<% include page %>
<% include footer %>
