<% include header %>
<% include util %>
<fieldset>
  <legend>Filter Status</legend>
  <form action="<%= syzoj.utils.makeUrl(displayConfig.inContest ? ['contest', contest.id, 'submissions'] : ['submissions']) %>" method="get" role="form" id="form" name="search">
    <input type="hidden" name="contest" value="<%= form.contest %>" />
    题目编号：
    <input name="problem_id" type="text" value="<%= form.problem_id %>" size="8">
    <% if (displayConfig.showOthers) { %>
      用户名：
      <input name="submitter" type="text" value="<%= form.submitter %>" size="15">
    <% } %>
    <% if (displayConfig.showResult) { %>
      结果：
      <select name="status" size="1" id="select_status">
        <option value="">所有</option>
        <% for (let status in this.icon) { %>
        <% if (this.iconHidden.includes(status)) continue; %>
          <option value="<%= status === 'Pending' ? 'Waiting' : status %>" <% if (status === form.status) { %> selected="selected" <% } %> ><%= status %></option>
        <% } %>
      </select>
    <% } %>
    语言种类：
    <select name="language" size="1" id="select_language">
      <option value="">所有</option>
      <% for (let lang of syzoj.config.filter_enabled_languages) { %>
        <option value="<%= lang %>" <% if (lang === form.language) { %> selected="selected" <% } %> ><%= syzoj.languages[lang].show %></option>
      <% } %>
    </select>
    <input type="submit" value="查询" width="8">
  </form>
</fieldset>
  <table id="vueAppFuckSafari" class="tblcontainer ui-widget-content ui-corner-all" width="100%" border="0" cellpadding="4" cellspacing="2" id="table">
    <thead>
      <tr align="center" class="ui-widget-header">
        <th width="8%" height="20">提交序号</th>
        <th class="place_left">用户名</th>
        <th width="10%">题目编号</th>
        <th width="12%">语言种类</th>
        <th width="16%">提交状态</th>
        <th width="6%" v-if="displayConfig.showScore">分数</th>
        <th width="8%" v-if="displayConfig.showUsage">运行时间</th>
        <th width="8%" v-if="displayConfig.showUsage">内存用量</th>
        <th width="8%">代码长度</th>
        <th width="18%">提交时间</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" :config="displayConfig" :show-rejudge="false" :data="item" is='submission-item' :rough="true">
      </tr>
    </tbody>
  </table>
  <br>
  <% if (fast_pagination) { %>
    <% include page_fast %>
  <% } else { %>
    <% include page %>
  <% } %>
  <br>
</div>

<script src="<%- lib('vue/2.5.21/vue.min.js') %>"></script>
<script src="<%- lib('socket.io/2.2.0/socket.io.js') %>"></script>

<% include submissions_item %>
<script>
const itemList = <%- serializejs(items) %>;
const socketUrl = "/rough";
const displayConfig = <%- serializejs(displayConfig) %>;

const vueApp = new Vue({
  el: '#vueAppFuckSafari',
  data: {
    items: itemList,
    displayConfig: displayConfig
  },
});

if (itemList.some(function(t) {return t.token != null;})) {
  const socket = io(socketUrl);
  socket.on('connect', function () {
    for (let x of itemList.filter(function(x) {return x.token != null;})){
      const getItem = function (id){ return itemList.find(function(x){ return x.info.taskId === id; })};
      socket.on('start', function (data) {
        getItem(data.taskId).running = true;
      });

      socket.on('finish', function (data) {
        getItem(data.taskId).running = false;
        getItem(data.taskId).result = data.result;
        if (itemList.every(function(x){ return x.result; })) {
          socket.close();
        }
      });

      socket.emit('join', x.token, function (data) {
        if (data && data.ok) {
          if (data.running) {
            x.running = true;
          } else if (data.finished) {
            x.running = false;
            x.result = data.result;
          }
        } else {
          alert("ERROR: " + JSON.stringify(data));
        }
      });
    }
  })
}
</script>
<% include footer %>
