<% include header %>
<style>
#avatar_container:before {
    content: "";
    display: block;
    padding-top: 100%;
}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td width="350">
      <table class="ui-widget tblcontainer ui-widget-content ui-corner-all" width="100%" border="0" cellspacing="2" cellpadding="2">
        <thead>
          <tr class="ui-widget-header">
            <th colspan="2">Detail of <%= show_user.username %><% if (show_user.nameplate) { %><%- show_user.nameplate %><% } %></th>
          </tr>
        </thead>
        <tr>
          <td align="center" colspan="2">
            <img src="<%= syzoj.utils.gravatar(show_user.email, 150) %>">
          </td>
        </tr>
        <tr>
          <td align="right">昵称</td>
          <td align="left"><%- show_user.nickname %></td>
        </tr>
        <tr>
          <td align="right">签名</td>
          <td align="left"><%- show_user.information %></td>
        </tr>
        <tr>
          <td align="right">通过数量</td>
          <td align="left"><%= show_user.ac_problems.length %></td>
        </tr>
        <tr>
          <td align="right">提交数量</td>
          <td align="left"><%= show_user.submit_num %></td>
        </tr>
        <% if (show_user.emailVisible) { %>
        <tr>
          <td align="right">电子邮箱</td>
          <td align="left">
            <a href="mailto:<%= show_user.email %>" class="black"><%= show_user.email %></a>
          </td>
        </tr>
        <% } %>
        <tr>
          <td align="right">注册时间</td>
          <td align="left"><%= syzoj.utils.formatDate(show_user.register_time) %></td>
        </tr>
      </table>
    </td>
    <td width="40"></td>
    <td>
      <table class="ui-widget tblcontainer ui-widget-content ui-corner-all" width="100%"border="0" cellspacing="2" cellpadding="2">
        <thead>
          <tr class="ui-widget-header">
            <td align="center">通过题目列表</td>
          </tr>
        </thead>
        <tr>
          <td style="font-size: large; word-spacing: 0.3em">
            <% if (!show_user.ac_problems.length) { %>没有通过任何题目 :(<% } else { %>
              <% for (let problem of show_user.ac_problems) { %>
                <a href="<%= syzoj.utils.makeUrl(['problem', problem]) %>"><%= problem %></a>
              <% } %>
            <% } %>
        </tr>
        <tr>
          <td style="font-size: large; word-spacing: 0.3em">
            <div id="pie_chart_legend"></div>
            <div style="width: 260px; height: 260px; margin-left: 33.5px; "><canvas style="width: 260px; height: 260px; " id="pie_chart"></canvas></div>
          </td>
        </tr>
      </table>
      <br>
      <% if (show_user.articles.length) { %>
        <table class="ui-widget tblcontainer ui-widget-content ui-corner-all" width="100%"border="0" cellspacing="2" cellpadding="2">
          <thead>
            <tr>
              <th class="place_left">帖子</th>
              <th>时间</th>
            </tr>
          </thead>
          <tbody>
            <% for (let article of show_user.articles) { %>
            <tr>
              <td><a href="<%= syzoj.utils.makeUrl(['article', article.id]) %>"><%= article.title %></a></td>
              <td align="center"><%= syzoj.utils.formatDate(article.public_time) %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      <% } %>
    </td>
  </tr>
</table>
<script>
$(function () {
<% if (show_user.allowedEdit) { %>
  $('#user_card .image').dimmer({
    on: 'hover'
  });
<% } %>

  var pie = new Chart(document.getElementById('pie_chart').getContext('2d'), {
    aspectRatio: 1,
    type: 'pie',
    data: {
      datasets: [
        {
          data: [
            <%= statistics["Accepted"] %>,
            <%= statistics["Wrong Answer"] %>,
            <%= statistics["Runtime Error"] %>,
            <%= statistics["Time Limit Exceeded"] %>,
            <%= statistics["Memory Limit Exceeded"] %>,
            <%= statistics["Compile Error"] %>,
          ],
          backgroundColor: [
            "#66dd66",
            "#ff6384",
            "darkorchid",
            "#ffce56",
            "#00b5ad",
            "#35a0e8"
          ]
        }
      ],
      labels: [
        "Accepted",
        "Wrong Answer",
        "Runtime Error",
        "Time Limit Exceeded",
        "Memory Limit Exceeded",
        "Compile Error"
      ]
    },
    options: {
      responsive: true,
      legend: {
        display: false
      },
      legendCallback: function (chart) {
  			var text = [];
  			text.push('<ul style="list-style: none; padding-left: 20px; margin-top: 0; " class="' + chart.id + '-legend">');

  			var data = chart.data;
  			var datasets = data.datasets;
  			var labels = data.labels;

  			if (datasets.length) {
  				for (var i = 0; i < datasets[0].data.length; ++i) {
  					text.push('<li style="font-size: 12px; width: 50%; display: inline-block; color: #666; "><span style="width: 10px; height: 10px; display: inline-block; border-radius: 50%; margin-right: 5px; background-color: ' + datasets[0].backgroundColor[i] + '; "></span>');
  					if (labels[i]) {
  						text.push(labels[i]);
  					}
  					text.push('</li>');
  				}
  			}

  			text.push('</ul>');
  			return text.join('');
  		}
    },
  });

  document.getElementById('pie_chart_legend').innerHTML = pie.generateLegend();
});
</script>
<% include footer %>
